.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f8ff; /* Light Blue background */
}

.reset-password-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-form h1 {
  color: #1e90ff; /* Dodger Blue */
}

.reset-password-form label {
  display: block;
  margin-bottom: 10px;
  color: #1e90ff;
}

.reset-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reset-password-form button {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-password-form button:hover {
  background-color: #4682b4; /* Steel Blue */
}